@import '~antd/es/style/themes/default.less';
.icon_notice {
  position:relative;
  display: inline-block;
  margin-right: .18rem;
  font-size: .20rem;
  color: #fff;
}
.notice_num {
  position:absolute;
  background:red;
  color:#fff;
  font-size:.12rem;
  border-radius:.1rem;
  width:.32rem;
  height:.20rem;
  padding:0;
  top:-.07rem;
  right:-.18rem;
  text-align:center;
  line-height:.2rem;
}
.ant-popover-inner-content {
  width: 3.28rem;
}
.content{
    width: 2.96rem;
    overflow: hidden;
  }
  .notice_kong {
    width:100%;
    height:100%;
    border-bottom: 1px solid #E8E8E8;
    text-align:center;
    line-height: 2.5rem;
    color:#5E616F;
    font-size:.14rem
  }
  .listFooter{
    width:100%;
    font-size:.14rem;
    color:#5E616F;
    background:#fff;
    padding-top:.08rem;
    p {
      margin-bottom: 0;
    }
    p:hover {
      text-decoration: underline;
      color: #08ABF8;
    }
  }
  .noticItem {
    border-bottom: 1px solid #E8E8E8;
    padding:.12rem .15rem .08rem;
    margin:0 -.15rem;
    cursor: pointer;
  }
  .title{
    display: flex;
    align-items: center;
    font-size: .14rem;
    line-height: .22rem;
    span.name {
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img{
      margin-left: .04rem;
    }
  }
  .title_unread {
    color:#33353D;
  }
  .readed {
    color: #999BA2;
  }
  .txt_unread {
    color:#5E616F;
  }
  .txt{
    font-size:.12rem;
    margin-bottom:0;
    line-height:.2rem;
    margin-top:.06rem;
    width:100%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap
  }
  .noticeBtm{
    color:#999BA2;
    font-size: .12rem;
  }
  .noticeTime{
    text-align: right;
  }
  .origin {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .font{
    font-size:.14rem;
    margin-right: .04rem
  }