.dashboard {
  min-height: 100vh;
  width: 100%;
}
.container {
  padding: .74rem .78rem 1px;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .42rem;
    .right {
      display: flex;
      align-items: center;
      color: #fff;
      span {
        cursor: pointer;
      }
      span:nth-child(2) {
        margin: 0 .17rem;
      }
      .search_box {
        width: 1.7rem;
        height: .32rem;
        display: flex;
        align-items: center;
        background:rgba(255,255,255,0.14);
        border-radius: .06rem;
        cursor: pointer;
        .icon_search {
          margin: 0 .09rem 0 .13rem;
        }
        .hr {
          width: 1px;
          height: .15rem;
          background: rgba(255,255,255,.3);
          margin: 0 .08rem 0 0;
        }
      }
    }
  }
  .logo {
    width: 3.22rem;
    height: .34rem;
  }
  .topCards {
    min-height: calc(~'100vh - 1.5rem');
  }
}
.gridstack_box {
  z-index: 99;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: .10rem;
  background: #fff;
  height: 3.57rem;
  .gridstack_box_top {
    display: flex;
    padding: 0 .39rem;
    margin: .3rem 0 .15rem;
    color: #424363;
    font-size: .24rem;
    .serarch_box {
      width: 2.24rem;
      height: .34rem;
      margin-left: .28rem;
      :global{
        .ant-input {
          border-radius: .17rem;
          border: .02rem solid #424363;
        }
        .ant-input:focus {
          box-shadow: none;
        }
      }
    }
  }
  .bottom_cards {
    padding: 0 .39rem;
    height: calc(~'3.57rem - 1.31rem');
  }
  .gridstack_box_toolbar {
    height: .5rem;
    line-height: .5rem;
    text-align: right;
    border-top: 1px dashed #666;
    .btn_finish {
      width: .76rem;
      height: .30rem;
      margin-right: .52rem;
      background: linear-gradient(#3ec3ff, #1d90ff);
      font-size: .14rem;
      font-weight: bold;
      color: #fff;
      cursor: pointer;
      &:hover,
      &:focus {
        border-color: #3ec3ff !important;
      }
    }
  }
}
.placeholder_box {
  padding-top: .64rem;
  margin: 0 auto;
  font-size: .18rem;
  color: #666;
  text-align: center;
  img {
    display: inline-block;
    width: .92rem;
    margin-bottom: .2rem;
  }
}
