.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.rowend {
  justify-content: flex-end;
}

.colcenter {
  align-items: center;
}

.center {
  justify-content: center;
  align-items: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

